.__ian_actionbar{
   width: 100%;
   height: 25px;
   color: #666666;
   
   font-family: Arial;
   font-size: 10px;
   
   position: relative; /* need this to ensure the absolute positioning of child divs */
                         
/*   background-image: url(../images/bg.png);*/
}

.__ian_actionbar_background_div{
   width: 100%;
   height: 25px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   
}
.__ian_actionbar_data_div{
   width: 100%;
   height: 25px;
   
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1001;

}

.__ian_actionbar_logo{
   width: 151px;
   height: 25px;
   /*background-image: url(../images/logo.png);*/
   background:#999;
   float: left;
}

/* Actionbar Menus */
.__ian_actionbar_menu_box{
   overflow: hidden;
}

span.__ian_action_menu_title{
   display: block;
   float: left;
   margin: 2px;
   padding: 5px 5px 3px 5px;
   cursor: pointer;
   overflow: hidden;
   
   font-weight: bold;
   
}

ul.__ian_actionbar_menu_list{
   margin: 0 2px 0 2px;;
   padding: 0;
   list-style-type: none;
   float: left;
   
   background-color: #999999;
   
   clear: both;
   display: none;
}

li.__ian_actionbar_game_menu_item{
   margin: 0;
   padding: 5px;
}

li.__ian_actionbar_game_menu_item a{
   outline: none;
   text-decoration: none;
   color: #333333;
}

/* Actionbar Search*/
.__ian_actionbar_search_block{
   width: 175px;
   height: 25px;
   display: block;
   margin-right: 10px;
   float: right;
   position: relative;
   top: -29px;
}

.__ian_actionbar_search_block_background{
   width: 175px;
   height: 25px;
   background-image: url(../images/searchboxBg.png);
   position: absolute;
   top: 0;
   left: 0;
}
.__ian_actionbar_search_block_fieldbox{
   width: 150px;
   height: 25px;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 10px;
}

.__ian_actionbar_search_block_input_field{
   width: 135px;
   height: 15px;
   border: none;
   
   position: absolute;
   top: 6px;


}

.__ian_actionbar_search_block_button{
   width: 16px;
   height: 16px;
   background-image: url(../images/magnify_16x16.png);
   cursor: pointer;
   position: absolute;
   top: 5px;
   left: 135px;
}

