.bin
  %h2 Classes
  - (1...10).each do 
    <a href="#" onclick="return false;">Annas Pathways Testing Course</a>
    <a href="#" onclick="return false;">Scoring Guide 2011 Mathematics</a>
    <a href="#" onclick="return false;">Differential Equations</a>
    <a href="#" onclick="return false;">Building Construction (CTE)	
    </a>

%table.years
  %tr.headers
    %th Year 1
    %th Year 2
    %th Year 3
    %th Year 4
  %tr
    %td.year
    %td.year
    %td.year
    %td.year

  